@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");

:root {
  --background-color: #eceff1;
  --primary-color: #fff;
  --text-color: black;
  --secondary-text-color: #212121;
  --accent-color: #f00;
  --texture-color: #cfd8dc;
}

body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Header Part */
header {
  top: 0;
  width: 100%;
  position: fixed;
  background-color: var(--primary-color);
  box-sizing: border-box;
  transition: top 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header.hidden {
  top: -80px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .branding {
  margin-left: 3rem;
}
nav .branding span {
  color: var(--accent-color);
  font-weight: bolder;
}

nav ol {
  display: flex;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  margin-right: 3rem;
}

nav a.active {
  color: var(--accent-color);
}

/* Slide in effect */
nav {
  transform: translateY(-20px);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

nav.loaded {
  transform: translateY(0);
  opacity: 1;
}
/* Header Part End */

.content {
  padding: 0 10rem;
}

.about-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-about {
  width: 70%;
}

.my-about #name {
  font-size: 40px;
}
.my-about #profession {
  font-size: 30px;
  margin-top: -15px;
}
.my-about #bio {
  margin-top: -15px;
  margin: 10px 0 25px;
  color: var(--text-color);
}

.my-about .social .sci a {
  text-decoration: none;
  display: inline-flex;
  font-size: 20px;
  padding: 4px;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  color: var(--secondary-text-color);
}
.my-img {
  height: 33vh;
  width: 33vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--accent-color);
}
.my-img img {
  height: 32vh;
  width: 32vh;
  border-radius: 50%;
}
.experience-section {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.experience-container {
  display: flex;
  justify-content: space-between;
}

.companies ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.companies li {
  list-style: none;
  cursor: pointer;
  padding: 10px 20px;
  border-left: 1px solid var(--texture-color);
}
.companies li:hover {
  cursor: pointer;
  background: #eee;
  color: var(--accent-color);
  font-weight: bold;
  transition: 1s;
}

.companies li.selected {
  cursor: pointer;
  background: #eee;
  color: var(--accent-color);
  font-weight: bold;
  border-left: 1px solid var(--accent-color);
}

.details {
  width: 80%;
  padding-left: 20px;
}

.details h3 {
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem;
}
.details h4 {
  font-weight: bold;
  font-size: 0.9rem;
}
.details .period {
  font-size: 0.8rem;
}
.details .exp-details {
  text-align: justify;
}

/* SKILLS */
.skill-container {
  display: flex;
  justify-content: space-between;
}

.category ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.category li {
  list-style: none;
  cursor: pointer;
  padding: 10px 20px;
  border-left: 1px solid var(--texture-color);
}
.category li:hover {
  cursor: pointer;
  background: #eee;
  color: var(--accent-color);
  font-weight: bold;
  transition: 1s;
}

.category li.selected {
  cursor: pointer;
  background: #eee;
  color: var(--accent-color);
  font-weight: bold;
  border-left: 1px solid var(--accent-color);
}

.tools {
  width: 80%;
  padding-left: 20px;
}

.tools h4 {
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem;
}

.tools ul {
  list-style: none;
}

/* DEGREE */
.ed-container {
  display: flex;
  justify-content: space-between;
}

.degree ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.degree li {
  list-style: none;
  cursor: pointer;
  padding: 10px 20px;
  border-left: 1px solid var(--texture-color);
}
.degree li:hover {
  cursor: pointer;
  background: #eee;
  color: var(--accent-color);
  font-weight: bold;
  transition: 1s;
}

.degree li.selected {
  cursor: pointer;
  background: var(--background-color);
  color: var(--accent-color);
  font-weight: bold;
  border-left: 1px solid var(--accent-color);
}

.degree-details {
  width: 80%;
  padding-left: 20px;
}

.degree-details h4 {
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem;
}
.degree-details h3 {
  font-weight: bold;
  font-size: 0.9rem;
}
.degree-details .period {
  font-size: 0.8rem;
}
.degree-details .exp-details {
  text-align: justify;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
}

@media screen and (max-width: 768px) {
  header.hidden {
    top: -110px;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav .options {
    padding: 10px;
  }

  nav .branding {
    margin-left: 0;
  }

  nav ol {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    margin: 1.25rem;
  }

  .content {
    padding: 0 3rem;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .my-about {
    width: 100%;
  }

  .my-about #name {
    font-size: 30px;
  }
  .my-about #profession {
    font-size: 20px;
    margin-top: -15px;
  }
  .my-about #bio {
    margin-top: -15px;
    margin: 10px 0 25px;
    color: var(--text-color);
    text-align: justify;
  }

  .my-about .social .sci a {
    text-decoration: none;
    display: inline-flex;
    font-size: 15px;
    padding: 4px;
    border: 1px solid var(--text-color);
    border-radius: 50%;
    color: var(--secondary-text-color);
  }
  .my-img {
    height: 25vh;
    width: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--accent-color);
  }
  .my-img img {
    height: 24vh;
    width: 24vh;
    border-radius: 50%;
  }

  .companies li {
    list-style: none;
    font-size: small;
    cursor: pointer;
    padding: 5px 10px;
    border-left: 0.5px solid #ddd;
  }

  .companies li.selected {
    cursor: pointer;
    background: #eee;
    color: var(--accent-color);
    font-weight: bold;
    border-left: 1px solid var(--accent-color);
  }

  .details {
    width: 80%;
    padding-left: 10px;
  }

  .details h3 {
    margin: 0;
    font-weight: bold;
    font-size: 0.9rem;
  }
  .details h4 {
    /* margin: 0; */
    font-weight: bold;
    font-size: 0.7rem;
  }
  .details .period {
    font-size: 0.6rem;
  }
  .details .exp-details {
    text-align: justify;
    font-size: 0.7rem;
  }

  /* SKILLS */
  .skill-container {
    display: flex;
    justify-content: space-between;
  }

  .category ul {
    list-style: none;
    padding: 10px;
    margin: 0;
  }

  .category li {
    font-size: small;
    list-style: none;
    cursor: pointer;
    padding: 10px 20px;
    border-left: 1px solid var(--texture-color);
  }
  .category li:hover {
    cursor: pointer;
    background: #eee;
    color: var(--accent-color);
    font-weight: bold;
    transition: 1s;
  }

  .category li.selected {
    cursor: pointer;
    background: #eee;
    color: var(--accent-color);
    font-weight: bold;
    border-left: 1px solid var(--accent-color);
  }

  .tools {
    width: 80%;
    padding-left: 20px;
  }

  .tools h4 {
    margin: 0;
    font-weight: bold;
    font-size: 0.7rem;
  }

  .tools ul {
    list-style: none;
    font-size: 0.7rem;
  }

  /* DEGREE */
  .ed-container {
    display: flex;
    justify-content: space-between;
  }

  .degree ul {
    list-style: none;
    padding: 10px;
    margin: 0;
  }

  .degree li {
    font-size: small;
    list-style: none;
    cursor: pointer;
    padding: 10px 20px;
    border-left: 1px solid var(--texture-color);
  }
  .degree li:hover {
    cursor: pointer;
    background: #eee;
    color: var(--accent-color);
    font-weight: bold;
    transition: 1s;
  }

  .degree li.selected {
    cursor: pointer;
    background: var(--background-color);
    color: var(--accent-color);
    font-weight: bold;
    border-left: 1px solid var(--accent-color);
  }

  .degree-details {
    width: 80%;
    padding-left: 20px;
  }

  .degree-details h4 {
    margin: 0;
    font-weight: bold;
    font-size: 0.9rem;
  }
  .degree-details h3 {
    font-weight: bold;
    font-size: 0.7rem;
  }
  .degree-details i {
    font-size: 0.6rem;
  }
  .degree-details .exp-details {
    text-align: justify;
  }
}

@media screen and (max-width: 570px) {
  header.hidden {
    top: -110px;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav .options {
    padding: 10px;
  }

  nav .branding {
    margin-left: 0;
  }

  nav ol {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    margin: 0.65rem;
  }

  .content {
    padding: 0 3rem;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .my-about {
    width: 100%;
  }

  .my-about #name {
    font-size: 30px;
  }
  .my-about #profession {
    font-size: 20px;
    margin-top: -15px;
  }
  .my-about #bio {
    margin-top: -15px;
    margin: 10px 0 25px;
    color: var(--text-color);
    text-align: justify;
  }

  .my-about .social .sci a {
    text-decoration: none;
    display: inline-flex;
    font-size: 15px;
    padding: 4px;
    border: 1px solid var(--text-color);
    border-radius: 50%;
    color: var(--secondary-text-color);
  }
  .my-img {
    height: 25vh;
    width: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--accent-color);
  }
  .my-img img {
    height: 24vh;
    width: 24vh;
    border-radius: 50%;
  }

  .companies li {
    list-style: none;
    font-size: small;
    cursor: pointer;
    padding: 5px 10px;
    border-left: 0.5px solid #ddd;
  }

  .companies li.selected {
    cursor: pointer;
    background: #eee;
    color: var(--accent-color);
    font-weight: bold;
    border-left: 1px solid var(--accent-color);
  }

  .details {
    width: 80%;
    padding-left: 10px;
  }

  .details h3 {
    margin: 0;
    font-weight: bold;
    font-size: 0.9rem;
  }
  .details h4 {
    /* margin: 0; */
    font-weight: bold;
    font-size: 0.7rem;
  }
  .details .period {
    font-size: 0.6rem;
  }
  .details .exp-details {
    text-align: justify;
    font-size: 0.7rem;
  }

  /* SKILLS */
  .skill-container {
    display: flex;
    justify-content: space-between;
  }

  .category ul {
    list-style: none;
    padding: 10px;
    margin: 0;
  }

  .category li {
    font-size: small;
    list-style: none;
    cursor: pointer;
    padding: 10px 20px;
    border-left: 1px solid var(--texture-color);
  }
  .category li:hover {
    cursor: pointer;
    background: #eee;
    color: var(--accent-color);
    font-weight: bold;
    transition: 1s;
  }

  .category li.selected {
    cursor: pointer;
    background: #eee;
    color: var(--accent-color);
    font-weight: bold;
    border-left: 1px solid var(--accent-color);
  }

  .tools {
    width: 80%;
    padding-left: 20px;
  }

  .tools h4 {
    margin: 0;
    font-weight: bold;
    font-size: 0.7rem;
  }

  .tools ul {
    list-style: none;
    font-size: 0.7rem;
  }

  /* DEGREE */
  .ed-container {
    display: flex;
    justify-content: space-between;
  }

  .degree ul {
    list-style: none;
    padding: 10px;
    margin: 0;
  }

  .degree li {
    font-size: small;
    list-style: none;
    cursor: pointer;
    padding: 10px 20px;
    border-left: 1px solid var(--texture-color);
  }
  .degree li:hover {
    cursor: pointer;
    background: #eee;
    color: var(--accent-color);
    font-weight: bold;
    transition: 1s;
  }

  .degree li.selected {
    cursor: pointer;
    background: var(--background-color);
    color: var(--accent-color);
    font-weight: bold;
    border-left: 1px solid var(--accent-color);
  }

  .degree-details {
    width: 80%;
    padding-left: 20px;
  }

  .degree-details h4 {
    margin: 0;
    font-weight: bold;
    font-size: 0.9rem;
  }
  .degree-details h3 {
    font-weight: bold;
    font-size: 0.7rem;
  }
  .degree-details i {
    font-size: 0.6rem;
  }
  .degree-details .exp-details {
    text-align: justify;
  }
}

@media screen and (max-width: 479px) {
  header.hidden {
    top: -110px;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
  }

  nav .options {
    padding: 0.4rem;
  }

  nav .branding {
    margin-left: 0;
  }

  nav ol {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    margin: 0.55rem;
  }

  .content {
    padding: 0 3rem;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .my-about {
    width: 100%;
  }

  .my-about #name {
    font-size: 30px;
  }
  .my-about #profession {
    font-size: 20px;
    margin-top: -15px;
  }
  .my-about #bio {
    margin-top: -15px;
    margin: 10px 0 25px;
    color: var(--text-color);
    text-align: justify;
  }

  .my-about .social .sci a {
    text-decoration: none;
    display: inline-flex;
    font-size: 15px;
    padding: 4px;
    border: 1px solid var(--text-color);
    border-radius: 50%;
    color: var(--secondary-text-color);
  }
  .my-img {
    height: 25vh;
    width: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--accent-color);
  }
  .my-img img {
    height: 24vh;
    width: 24vh;
    border-radius: 50%;
  }

  .companies li {
    list-style: none;
    font-size: small;
    cursor: pointer;
    padding: 5px 10px;
    border-left: 0.5px solid #ddd;
  }

  .companies li.selected {
    cursor: pointer;
    background: #eee;
    color: var(--accent-color);
    font-weight: bold;
    border-left: 1px solid var(--accent-color);
  }

  .details {
    width: 80%;
    padding-left: 10px;
  }

  .details h3 {
    margin: 0;
    font-weight: bold;
    font-size: 0.9rem;
  }
  .details h4 {
    /* margin: 0; */
    font-weight: bold;
    font-size: 0.7rem;
  }
  .details .period {
    font-size: 0.6rem;
  }
  .details .exp-details {
    text-align: justify;
    font-size: 0.7rem;
  }

  /* SKILLS */
  .skill-container {
    display: flex;
    justify-content: space-between;
  }

  .category ul {
    list-style: none;
    padding: 10px;
    margin: 0;
  }

  .category li {
    font-size: small;
    list-style: none;
    cursor: pointer;
    padding: 10px 20px;
    border-left: 1px solid var(--texture-color);
  }
  .category li:hover {
    cursor: pointer;
    background: #eee;
    color: var(--accent-color);
    font-weight: bold;
    transition: 1s;
  }

  .category li.selected {
    cursor: pointer;
    background: #eee;
    color: var(--accent-color);
    font-weight: bold;
    border-left: 1px solid var(--accent-color);
  }

  .tools {
    width: 80%;
    padding-left: 20px;
  }

  .tools h4 {
    margin: 0;
    font-weight: bold;
    font-size: 0.7rem;
  }

  .tools ul {
    list-style: none;
    font-size: 0.7rem;
  }

  /* DEGREE */
  .ed-container {
    display: flex;
    justify-content: space-between;
  }

  .degree ul {
    list-style: none;
    padding: 10px;
    margin: 0;
  }

  .degree li {
    font-size: small;
    list-style: none;
    cursor: pointer;
    padding: 10px 20px;
    border-left: 1px solid var(--texture-color);
  }
  .degree li:hover {
    cursor: pointer;
    background: #eee;
    color: var(--accent-color);
    font-weight: bold;
    transition: 1s;
  }

  .degree li.selected {
    cursor: pointer;
    background: var(--background-color);
    color: var(--accent-color);
    font-weight: bold;
    border-left: 1px solid var(--accent-color);
  }

  .degree-details {
    width: 80%;
    padding-left: 20px;
  }

  .degree-details h4 {
    margin: 0;
    font-weight: bold;
    font-size: 0.9rem;
  }
  .degree-details h3 {
    font-weight: bold;
    font-size: 0.7rem;
  }
  .degree-details i {
    font-size: 0.6rem;
  }
  .degree-details .exp-details {
    text-align: justify;
  }
}
