@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");

:root {
  --background-color: #eeeeee;
  --primary-color: #fff;
  --text-color: black;
  --secondary-text-color: #212121;
  --accent-color: #f00;
}

body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Header Part */
header {
  top: 0;
  width: 100%;
  position: fixed;
  background-color: var(--primary-color);
  box-sizing: border-box;
  transition: top 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header.hidden {
  top: -80px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .branding {
  margin-left: 3rem;
}

nav ol {
  display: flex;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  margin-right: 3rem;
}

nav a.active {
  color: var(--accent-color);
}

/* Slide in effect */
nav {
  transform: translateY(-20px);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

nav.loaded {
  transform: translateY(0);
  opacity: 1;
}
/* Header Part End */

.content {
  margin-top: 100px;
}

section {
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--primary-color);
  border-radius: 8px;
}
section h2 {
  color: var(--secondary-text-color);
  font-size: 2rem;
}

section p {
  color: var(--secondary-text-color);
}

.card {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card img {
  width: 100px;
  height: 100px;
  border-radius: 10%;
  margin-bottom: 1rem;
}
.card h3 {
  /* color: #58a6ff; */
  color: var(--text-color);
  margin: 0.5rem 0;
}
.card h1 {
  /* color: #58a6ff; */
  color: var(--text-color);
  margin: 0.5rem 0;
}

.card p {
  color: var(--secondary-text-color);
  text-align: center;
}

.experience-container {
  display: flex;
  justify-content: space-between;
}

.companies ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.companies li {
  list-style: none;
  cursor: pointer;
  padding: 10px 20px;
  border-left: 1px solid #ddd;
}
.companies li:hover {
  cursor: pointer;
  background: #eee;
  color: var(--accent-color);
  font-weight: bold;
  transition: 0.8s;
}

.companies li.selected {
  cursor: pointer;
  background: #eee;
  color: var(--accent-color);
  font-weight: bold;
  border-left: 1px solid var(--accent-color);
}

.details {
  width: 80%;
  padding-left: 20px;
}

.details h3 {
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem;
}
.details h4 {
  font-weight: bold;
  font-size: 0.9rem;
}
.details .period {
  font-size: 0.8rem;
}
.details .exp-details {
  text-align: justify;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
}

@media screen and (max-width: 768px) {
  header.hidden {
    top: -110px;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav .options {
    padding: 10px;
  }

  nav .branding {
    margin-left: 0;
  }

  nav ol {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    margin: 1.25rem;
  }

  .companies li {
    list-style: none;
    cursor: pointer;
    padding: 5px 10px;
    border-left: 0.5px solid #ddd;
  }

  .companies li.selected {
    cursor: pointer;
    background: #eee;
    color: var(--accent-color);
    font-weight: bold;
    border-left: 1px solid var(--accent-color);
  }

  .details {
    width: 80%;
    padding-left: 10px;
  }

  .details h3 {
    margin: 0;
    font-weight: bold;
    font-size: 0.9rem;
  }
  .details h4 {
    /* margin: 0; */
    font-weight: bold;
    font-size: 0.7rem;
  }
  .details .period {
    font-size: 0.6rem;
  }
  .details .exp-details {
    text-align: justify;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 570px) {
  header.hidden {
    top: -110px;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav .options {
    padding: 10px;
  }

  nav .branding {
    margin-left: 0;
  }

  nav ol {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    margin: 0.65rem;
  }

  .companies li {
    list-style: none;
    cursor: pointer;
    padding: 5px 10px;
    border-left: 0.5px solid #ddd;
  }

  .companies li.selected {
    cursor: pointer;
    background: #eee;
    color: var(--accent-color);
    font-weight: bold;
    border-left: 1px solid var(--accent-color);
  }

  .details {
    width: 80%;
    padding-left: 10px;
  }

  .details h3 {
    margin: 0;
    font-weight: bold;
    font-size: 0.9rem;
  }
  .details h4 {
    /* margin: 0; */
    font-weight: bold;
    font-size: 0.7rem;
  }
  .details .period {
    font-size: 0.6rem;
  }
  .details .exp-details {
    text-align: justify;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 479px) {
  nav {
    width: 100%;
    background-color: #f5f5f5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.6rem;
  }

  .companies li {
    list-style: none;
    cursor: pointer;
    padding: 5px 10px;
    border-left: 0.5px solid #ddd;
  }

  .companies li.selected {
    cursor: pointer;
    background: #eee;
    color: var(--accent-color);
    font-weight: bold;
    border-left: 1px solid var(--accent-color);
  }

  .details {
    width: 80%;
    padding-left: 10px;
  }

  .details h3 {
    margin: 0;
    font-weight: bold;
    font-size: 0.9rem;
  }
  .details h4 {
    /* margin: 0; */
    font-weight: bold;
    font-size: 0.7rem;
  }
  .details .period {
    font-size: 0.6rem;
  }
  .details .exp-details {
    text-align: justify;
    font-size: 0.7rem;
  }
}
